<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>URL Shortener for A/B testing - ablk.us</title>
  <meta name="description" content="Get a unique shortened url that will redirect randomly to a list of urls. This could help when doing A/B testing.">
  <meta name="keywords" content="shortened short url ab testing">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="main-container">

        <div class="inner cover">
          <span class="glyphicon glyphicon-link"></span>
          <h1>URL Shortener for A/B testing</h1>
          <h4>ablk.us</h4>

          <div class="row" id="form">

            <div class="col col-lg-12">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control  url-field" placeholder="Paste a link...">
                <span class="input-group-btn">
                  <button class="btn btn-add" type="button">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                </span>
              </div>
            </div>

            <div class="col col-lg-12 new-link" id="new_link">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control url-field" placeholder="Paste a link...">
                <span class="input-group-btn">
                  <button class="btn btn-remove" type="button">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                  </button>
                  <button class="btn btn-add" type="button">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                </span>
              </div>
            </div>

            <div id="new_links">
            </div>

            <div class="col col-lg-12 center-block">
              <button class="btn btn-lg btn-shorten" type="button">SHORTEN</button>
            </div>

            <div class="col col-lg-12">
              <div id="link"></div>
            </div>

          </div>

        </div>

        <div id="footer">
          <a class="btn-contact" href="#contactModal" role="button" data-toggle="modal">Leave us a comment or suggestion</a>
        </div>

      </div>

    </div>

  </div>

  <div id="contactModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form id="contact_form" class="" action="contact" method="post">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 id="contactModalLabel">We'd Love to Hear From You</h4>
          </div>
          <div class="modal-body form-horizontal">

          <div class="form-group">
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input  name="name" placeholder="your name" class="form-control"  type="text">
              </div>
            </div>
          </div>

            <div class="form-group">
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <textarea class="form-control" name="comment" placeholder="your message here.."></textarea>
              </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                  <input name="email" placeholder="email@you.com (so that we can contact you)" class="form-control"  type="text">
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button type="submit" class="btn btn-success pull-right">Send It!&nbsp;<span class="glyphicon glyphicon-send"></span></button>
          </div>
        </div>
      </form>
    </div>
  </div>  

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
  <script src="javascripts/shorten.js"></script>
  <script src="javascripts/multifield.js"></script>
  <script src="javascripts/form.js"></script>


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-81643917-1', 'auto');
    ga('send', 'pageview');

  </script>  
</body>
</html>
